.one
{
font-family:Gill Sans;
font-size:35px;
color:red;
font-weight:700;
text-align:center;
}

.two
{
text-align:left;
}

.three
{
text-align:center;
}

.four
{
text-align:left;
}

.five
{
text-align:justify;
}

b
{
line-height:40px;
}

.six
{
letter-spacing:5px;
}

.seven
{
word-spacing:10px;
}

a
{
text-decoration:none;
}

.eight
{
font-style:italic;
}

.nine
{
text-transform:uppercase
}
