* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.Background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Images/Burgerking.jpg');
    background-repeat: no-repeat;
    height: 480px;
    width: 880px;
    background-size: cover;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.logo {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0%;
}

.logo img {
    height: 100px;
    width: 100px;
}

.text {
    font-size: 75px;
    color: white;
    font-family: google sans-serif;
    position: absolute;
    left: 50px;
    top: 50px;
}

.text2 {
    font-size: 30px;
    color: white;
    font-family: google sans-serif;
    position: absolute;
    left: 50px;
    top: 225px;
    letter-spacing: 5px;
    font-weight: bolder;
}

.button {
    position: absolute;
    left: 50px;
    top: 300px;

}

.button a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    border: 1px;
    padding: 5px 10px;
    background-color: red;
}